
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  border-radius: 0 !important;
  font-family: 'Ubuntu', sans-serif;
}
body{
  font-size: 1rem;
}
hr.separator {
  border-top: 1px dashed #878787;
}

.convertWrap .converter_Link {
  display: block;
  padding: 1.2rem;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-align: center;
}







a.bCoffee {
  background: #e5e5e5;
  color: #212529;
  padding: 5px 10px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
}
.social-icons a {
  font-size: 22px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}